<html>
<body>
    <h1>Users List</h1>
     <a href="signup">Signup</a>  |
    <a href="login">Login</a>   |
    {{!-- <a href="home">Home</a>  | --}}
    <a href="usersList">Users List</a>  <br> <br>

    <table border='1'>
        <tr>
            
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        {{#each user_array}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{password}}</td>
            <td>
                    <a href='/edit/{{_id}}'>Edit</a> | 
                    <a href='/delete/{{_id}}'>Delete</a> 
                    {{!-- <a href='/show/{{_id}}'>Show</a> --}}
          </td>
        </tr>
         {{else}}
        No Record Found
     {{/each}}
     </table>
</body>
</html>