{{>sidebar}}
{{>navbar}}

     <style>
            table {
            counter-reset: tableCount;
        }
        .counterCell:before {
            content: counter(tableCount); 
            counter-increment: tableCount; 
        }

        </style>
      <!-- DataTables -->
        <link rel="stylesheet" href="../../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="../../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Users Display</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Display</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row ">
                
 </div>
  {{!-- <!-- Signup-box -->
 

<!-- /.Signup-box --> --}}
    <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">DataTable with minimal features & hover style</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                           
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Password</th>
                                                <th>Gender</th>
                                                <th>Image</th>
                                                <th>Address</th>
                                                <th>Area </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                     {{#each user_array}}
                                               <tr>
                                                <td class="counterCell"></td>
                                                <td>{{user_name}}</td>
                                                <td>{{user_email}}</td>
                                                 <td>{{user_password}}</td>
                                                <td>{{user_gender}}</td>
                                                <td>
                                                     <img src="/user images/{{user_photo}}" style="width: 100px;">
                                                </td>
                                                <td>{{user_address}}</td>
                                                 <td>{{_area.area_name}}</td>
                                                <td>
                                                    <a href="/admin/users/edit/{{_id}}">Edit</a> |
                                                    <a href="/admin/users/delete/{{_id}}">Delete</a>

                                                </td>
                                            </tr>
                                         
                                          {{/each}}

                            
                                        <tfoot>
                                            <tr>
                                                 <th>Id</th>
                                                <th>User Name</th>
                                                <th>User Email</th>
                                                <th>User Password</th>
                                                <th>User Gender</th>
                                                <th>User Image</th>
                                                <th>User Address</th>
                                                <th>Area </th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->


                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->

</div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->


             <!-- DataTables -->
    <script src="../../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    
  
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
