<html>
    <head>
        <style>
            th{
                background-color: burlywood;
            }
            tr{
                background-color: darkkhaki;
            }
        </style>
    </head>
    <body>
        <table border="1px" cellpadding="10px" cellspacing="0px" width="100%">
            <tr>
                <th>Name</th>
                <th>Father Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>State</th>
                <th>City</th>
                <th>Birth Date</th>
                <th>Pincode</th>
                <th>Course</th>
                <th>Email</th>
            </tr>
            <tr>
                <td><%= name %></td>
                <td><%= father_name %></td>
                <td><%= address %></td>
                <td><%= gender %></td>
                <td><%= state %></td>
                <td><%= city %></td>
                <td><%= birth_date %></td>
                <td><%= pincode %></td>
                <td><%= course %></td>
                <td><%= email %></td>
            </tr>
        </table>
    </body>
</html>