<html>
<body>
    <style>
    table {
    counter-reset: tableCount;
}
.counterCell:before {
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

</style>
    <h1>Display Table</h1>
    <a href="signup">Signup</a>  |
    <a href="login">Login</a>   |
    <a href="home">Home</a>  |
    <a href="change-password">Change Password</a>   |
    <a href="display-table">Display Table</a>  

    {{ user_array.length}}
    <table border='1' cellspacing="0" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Password</th>
            <th>IdAdmin</th>
            <th>Image</th>
            <th>Join Date</th>
            <th>Action</th>
        </tr>
        {{#each user_array}}
        <tr>
            <td class="counterCell"></td>
            <td>{{user_name}}</td>
            <td>{{user_gender}}</td>
            <td>{{user_dob}}</td>
            <td>{{user_mobile}}</td>
            <td>{{user_email}}</td>
            <td>{{user_password}}</td>
            <td>{{user_isadmin}}</td>
             <td>
                 <img src="/images/{{user_image}}" width="150px" >

                 </td>
            <td>{{user_joindate}}</td>
            <td>
                <ul>
                    <li>
                        <a href='/edit/{{_id}}'>Edit</a>
                    </li>
                    <li>
                        <a href='/delete/{{_id}}'>Delete</a>
                    </li>
                </ul>
                      
                     
                    {{!-- <a href='/show/{{_id}}'>Show</a> --}}
          </td>
        </tr>
         {{else}}
        No Record Found
    </table>
     {{/each}}
</body>
</html>