<h1>welcom to node js</h1>
Record No.{{user_array.length}}
<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Action</th>
    </tr>
    {{#each user_array}}
    <tr>
        <td>{{user_name}}</td>
         <td>{{user_mobile}}</td>
          <td><a href="edit/{{_id}}">Edit</a>| 
          <a href="delete/{{_id}}">Delete</a></td>
    </tr>
    {{else}}Record Not Found
</table>
{{/each}}