<h1> Home Page Welcome</h1>
 <h1>Hi,{{mydata.user_name}}</h1>
 <a href="/home">Home</a> ||
 <a href="/contact">Contact</a> ||
 <a href="/about">About</a> ||
 <a href="/changePassword">Change Password</a> ||
 <a href="/logout">Logout</a> </h1>
<h3>{{mydata.user_name}} Your Details is:- </h3>
<table cellpadding="2" cellspacing="10">
    <tr>
        <td>Name:</td>
        <td>{{mydata.user_name}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{mydata.user_email}}</td>
    </tr>
    <tr>
        <td>Mobile No:</td>
        <td>{{mydata.user_mobile}}</td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>{{mydata.user_gender}}</td>
    </tr>
    <tr>
        <td>DOB:</td>
        <td>{{mydata.user_dob}}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{{mydata.user_password}}</td>
    </tr>
</table>