{{#each userdata}}
      <tr id="{{_id}}">
        <td class="counterCell"></td>
        <td>{{firstName}}</td>
         <td>{{LastName}}</td>
        <td>{{gender}}</td>
        <td>{{address}}</td>
        <td>
             <img src="/images/{{image}}" width="150px">
        </td>
        <td>
            <button data-id="{{_id}}" class="edit">Edit</button>
            <button data-id="{{_id}}" class="delete">Delete</button>
        </td>
    {{else}}<td><h2 id="else">Not Record Found</h2></td>
    </tr> 
{{/each}}
{{!-- {{#if pagination.totalPage}}
<div class="col-md-12">
    {{pagination pagination}}
</div>
{{/if}}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav> --}}