{{#each userdata}}
      <tr id="{{_id}}">
        <td class="counterCell"></td>
        <td>{{firstName}}</td>
         <td>{{LastName}}</td>
        <td>{{gender}}</td>
        <td>{{address}}</td>
        <td>
             <img src="/images/{{image}}" width="150px" height="100px">
        </td>
        <td>
            <button data-id="{{_id}}" class="edit">Edit</button>
            <button data-id="{{_id}}" class="delete">Delete</button>
        </td>
    {{else}}<td><h2 id="else">Not Record Found</h2></td>
    </tr> 
{{/each}}
{{#if pagination}}
<tr>    
    <td colspan="7">
    <ul class="pagination">
        {{#each pagination.totalPage}}
            <li class="page-item" data-url="?page={{this}}">
                <a class="page-link" {{#compare this '==' ../pagination.page}}style="pointer-events: none;background-color: dimgrey;color: beige;"{{/compare}}  data-url="?page={{this}}">{{this}}</a>
            </li>
        {{/each}}
    </ul>
    </td>
</tr>
{{/if}}